@page "/weather"

@using Models;
@inject HttpClient Http

@inject Blazored.LocalStorage.ISyncLocalStorageService localStorage

<PageTitle>Álbumes</PageTitle>

<h1>Starships</h1>

<p>Estos son los álbumes que se han guardado.</p>

@if (albumes == null)
{
    <p><em>Cargando...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Titulo</th>
                <th>Artista</th>
                <th>Canciones</th>
                <th>Fecha de publicación</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var album in albumes)
            {
                <tr>
                    <td>@album.tituloAlbum</td>
                    <td>@album.artistaAlbum</td>
                    <td>@string.Join(", ", album.canciones.Select(c => $"{c.nombre} ({c.duracion})"))</td>
                    <td>@album.fechaPublicacion.ToShortDateString()</td>
                    
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private List<Album> albumes = new List<Album>();

    protected override async Task OnInitializedAsync()
    {
        // Recuperar la lista de starships desde LocalStorage a una variable var
        var savedStarships = localStorage.GetItem<List<Album>>("albumes");

        // Validar si la lista fue recuperada correctamente, copiarla a la lista
        if (savedStarships != null)
        {
            albumes = savedStarships;
        }
    }
}
